{% extends 'base.html' %}

{% block navigation %}
    {% include 'nav.html' %}
{% endblock navigation %}

{% block content %}
    <p><h2 style="text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        Welcome to our sales and customer management site!</h4><br><br><hr><br><br><br>

        We provide efficient solutions for keeping records of customers, products and sales representatives. 
        With the help of our service, you can easily track sales, interact with customers and effectively manage your business.</p>

    <p>Our platform allows you to add new customers, track sales, monitor the work of sales representatives and manage the product range. 
        We are confident that our tool will help you make your business even more successful.</p>
        
    <p>Register today and start using our service to optimize your business management.
        Be ahead of your competitors and grow your business with us!</p>

{% endblock content %}